<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css"
      integrity="sha512-aqT9YD5gLuLBr6ipQAS+72o5yHKzgZbGxEh6iY8lW/r6gG14e2kBTAJb8XrxzZrMOgSmDqtLaF76T0Z6YY2IHg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
      integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Home Page</title>
  </head>
  <style>
    @media (min-width: 992px) {
      .addBtn {
        display: none;
      }
    }
  </style>
  <body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand"><i class="fas fa-code me-2"></i>Ananta</a>
        <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="colapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a href="/" class="nav-link"><i class="fas fa-home me-1"></i>Home</a>
            </li>
            <li class="nav-item active">
              <a href="/add" class="nav-link"><i class="fas fa-user-plus me-1"></i>Add User</a>
            </li>
            <li class="nav-item active">
              <a href="/#" class="nav-link"><i class="fas fa-globe me-1"></i>About</a>
            </li>
            <li class="nav-item active">
              <a href="#" class="nav-link"><i class="fas fa-envelope me-1"></i>Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
